
<p>
	In October 2008, Michigan enacted the <a href="http://www.legislature.mi.gov/(S(q4eb4jzir2g3hazhzhl1td45))/mileg.aspx?page=getobject&objectName=mcl-act-295-of-2008">Clean, Renewable, and Efficient Energy Act, Public Act 295</a> <strong>(PA 295)</strong> A description of each scenario is provided at the bottom of the page. 
</p>

<div class="reportSection tableContainer">
  <h4>Commercial Energy Consumption -- MMBTU Equivalent</h4>
  <div class="chooser-div">
    <div class="sel-label">Compare your plan to scenario:</div><select class="comm-chosen-ec">
      <option class="default-chosen-selection" label="PA 295"></option>
      {{#scenarios}}
        <option value="{{.}}">{{.}}</option>
      {{/scenarios}}
    </select>
  </div>

  <p class="pa295_comm_ec">By 2035, your energy plan is estimated to <strong>
  {{#comm_has_savings_pa295}}SAVE{{/comm_has_savings_pa295}}
  {{^comm_has_savings_pa295}}USE{{/comm_has_savings_pa295}} 
  {{comm_pa295_diff}}</strong> more MMBTU equivalent energy than the <strong>PA 295</strong> scenario in the commercial sector.
  </p>
  <p class="no_pa295_comm_ec">By 2035, your energy plan is estimated to  <strong>
  {{#comm_has_savings_no_pa295}}SAVE{{/comm_has_savings_no_pa295}}
  {{^comm_has_savings_no_pa295}}USE{{/comm_has_savings_no_pa295}} 
  {{comm_no_pa295_diff}}</strong> more MMBTU equivalent energy than the <strong>No PA 295</strong> scenario in the commercial sector.
  </p>
  <p class="dbl_pa295_comm_ec">By 2035, your energy plan is estimated to <strong>
  {{#comm_has_savings_dbl_pa295}}SAVE{{/comm_has_savings_dbl_pa295}}
  {{^comm_has_savings_dbl_pa295}}USE{{/comm_has_savings_dbl_pa295}} 
  {{comm_dbl_pa295_diff}}</strong> more MMBTU equivalent energy than the <strong>Double PA 295</strong> scenario in the commercial sector.
  </p>

    <div  id="commercialEnergyConsumption" class="commercialEnergyConsumption"></div>
</div>

<div class="reportSection tableContainer">
  <h4>Residential Energy Consumption -- MMBTU Equivalent</h4>
    <div class="chooser-div">
      <div class="sel-label">Compare your plan to scenario:</div><select class="res-chosen-ec">
        <option class="default-chosen-selection" label="PA 295"></option>
        {{#scenarios}}
          <option value="{{.}}">{{.}}</option>
        {{/scenarios}}
      </select>
    </div>

  <p class="pa295_res_ec">By 2035, your energy plan is estimated to <strong>{{#res_has_savings_pa295}}SAVE{{/res_has_savings_pa295}}
  {{^res_has_savings_pa295}}USE{{/res_has_savings_pa295}} 
  {{res_pa295_diff}}</strong> more MMBTU equivalent energy than the <strong>PA 295</strong> scenario in the residential sector.
  </p>
  <p class="no_pa295_res_ec">By 2035, your energy plan is estimated to  <strong>{{#res_has_savings_no_pa295}}SAVE{{/res_has_savings_no_pa295}}
  {{^res_has_savings_no_pa295}}USE{{/res_has_savings_no_pa295}} 
  {{res_no_pa295_diff}}</strong> more MMBTU equivalent energy than the <strong>No PA 295</strong> scenario in the residential sector.
  </p>
  <p class="dbl_pa295_res_ec">By 2035, your energy plan is estimated to <strong>{{#res_has_savings_dbl_pa295}}SAVE{{/res_has_savings_dbl_pa295}}
  {{^res_has_savings_dbl_pa295}}USE{{/res_has_savings_dbl_pa295}} 
  {{res_dbl_pa295_diff}}</strong> more MMBTU equivalent energy than the <strong>Double PA 295</strong> scenario in the residential sector.
  </p>
    <div  id="residentialEnergyConsumption" class="residentialEnergyConsumption"></div>
</div>
<p>The reports show energy consumption in the following scenarios:
	<p>
		<strong>NO PA 295</strong> - The result of having no Energy Efficiency Resource and Renewable Portfolio Standards. Energy consumption continues to increase with population and employment
	</p>
	<p>
		<strong>PA 295</strong> - Michigan's current Energy Efficiency and Renewable Portfolio Standards. Energy consumption is reduced, each year, by 1% of the previous year's total  consumption, and 10% of electricity demand comes from renewable energy sources
	</p>
	<p>
		<strong>PA 295 Double</strong> - The result of doubling Michigan's Energy Efficiency Resource and Renewable Portfolio Standards. Energy consumption is reduced, each year, by 2% of the previous year's total consumption, and 20% of electricity demand comes from renewable energy sources.
	</p>
</p>

