
<div class="reportSection tableContainer">
  <h4>Energy Consumption -- MMBTU Equivalent</h4>
  <table >
    <thead>
      <tr>
        <th>PA 295</th>
        <th>No PA 295</th>
        <th>PA 295 Doubled</sup></th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td colspan=3 style="text-align:center;"><strong>Commercial</strong></td>
      </tr>
      {{#comEC}}
      <tr><td>{{PA}}</td><td>{{NoPA}}</td><td>{{DblPA}}</td></tr>
      {{/comEC}}
      <tr><td colspan=3 style="text-align:center"><strong>Residential</strong></td></tr>
       {{#resEC}}
      <tr><td>{{PA}}</td><td>{{NoPA}}</td><td>{{DblPA}}</td></tr>
      {{/resEC}}
    </tbody>
  </table>
</div>

