
<p>
In October 2008, Michigan enacted the <a href="http://www.legislature.mi.gov/(S(q4eb4jzir2g3hazhzhl1td45))/mileg.aspx?page=getobject&objectName=mcl-act-295-of-2008">Clean, Renewable, and Efficient Energy Act, Public Act 295</a> <strong>(PA 295)</strong>. 
</p>
<div class="reportSection tableContainer">
  <h4>Commercial Energy Consumption -- MMBTU Equivalent</h4>
  <p class="small ttip-tip">
  </p>
    <div  id="commercialEnergyConsumption" class="commercialEnergyConsumption"></div>
</div>

<div class="reportSection tableContainer">
  <h4>Residential Energy Consumption -- MMBTU Equivalent</h4>
  <p class="small ttip-tip">
  </p>
    <div  id="residentialEnergyConsumption" class="residentialEnergyConsumption"></div>
</div>
