
<p>
In October 2008, Michigan enacted the <a href="http://www.legislature.mi.gov/(S(q4eb4jzir2g3hazhzhl1td45))/mileg.aspx?page=getobject&objectName=mcl-act-295-of-2008">Clean, Renewable, and Efficient Energy Act, Public Act 295</a> <strong>(PA 295)</strong>. A description of each scenario is provided at the bottom of the page. 
</p>
<div class="reportSection tableContainer">
  <h4>Commercial Fuel Costs -- 2012 Dollars</h4>
   <p>The total commercial fuel cost savings is <strong>${{com_user_savings}}</strong></p>
  <p class="small ttip-tip">
  </p>
    <div  id="commercialFuelCosts" class="commercialFuelCosts"></div>
</div>

<div class="reportSection tableContainer">
  <h4>Residential Fuel Costs -- 2012 Dollars</h4>
    <p>The total residential fuel cost savings is <strong>${{res_user_savings}}</strong></p>
  <p class="small ttip-tip">
  </p>
    <div  id="residentialFuelCosts" class="residentialFuelCosts"></div>
</div>
<p>The reports show fuel costs in the following scenarios:
	<p>
		<strong>NO PA 295</strong> - The result of having no Energy Efficiency Resource and Renewable Portfolio Standards. Energy consumption continues to increase with population and employment
	</p>
	<p>
		<strong>PA 295</strong> - Michigan's current Energy Efficiency and Renewable Portfolio Standards. Energy consumption is reduced, each year, by 1% of the previous year's total  consumption, and 10% of electricity demand comes from renewable energy sources
	</p>
	<p>
		<strong>PA 295 Double</strong> - The result of doubling Michigan's Energy Efficiency Resource and Renewable Portfolio Standards. Energy consumption is reduced, each year, by 2% of the previous year's total consumption, and 20% of electricity demand comes from renewable energy sources.
	</p>
</p>