

<div class="reportSection tableContainer">
  <h4>Commercial Fuel Costs -- 2012 Dollars</h4>
  <p class="small ttip-tip">
     Tip: hover over a value to see details
  </p>
    <div  id="commercialFuelCosts" class="commercialFuelCosts"></div>
</div>

<div class="reportSection tableContainer">
  <h4>Residential Fuel Costs -- 2012 Dollars</h4>
  <p class="small ttip-tip">
     Tip: hover over a value to see details
  </p>
    <div  id="residentialFuelCosts" class="residentialFuelCosts"></div>
</div>
