<div class="reportSection tableContainer">
  <h4>Commercial GHG's -- CO<sub>2</sub>-e Equivalent</h4>
  <p class="small ttip-tip">
     Tip: hover over a value to see details
  </p>
    <div  id="commercialGreenhouseGases" class="commercialGreenhouseGases"></div>
</div>

<div class="reportSection tableContainer">
  <h4>Residential GHG's -- CO<sub>2</sub>-e Equivalent</h4>
  <p class="small ttip-tip">
     Tip: hover over a value to see details
  </p>
    <div  id="residentialGreenhouseGases" class="residentialGreenhouseGases"></div>
</div>

