<p>
In October 2008, Michigan enacted the <a href="http://www.legislature.mi.gov/(S(q4eb4jzir2g3hazhzhl1td45))/mileg.aspx?page=getobject&objectName=mcl-act-295-of-2008">Clean, Renewable, and Efficient Energy Act, Public Act 295</a> <strong>(PA 295)</strong>. A description of each scenario is provided at the bottom of the page. 
</p>
<div class="reportSection tableContainer">
  <h4>Commercial GHG's -- CO<sub>2</sub>-e Equivalent</h4>
    <div class="chooser-div">
      <div class="sel-label">Compare your plan to scenario:</div><select class="comm-chosen-ghg">
        <option class="default-chosen-selection" label="PA 295"></option>
        {{#scenarios}}
          <option value="{{.}}">{{.}}</option>
        {{/scenarios}}
      </select>
    </div>
  <p class="pa295_comm_ghg">By 2035, your energy plan is estimated to<strong>
  {{#comm_has_savings_pa295}}REDUCE{{/comm_has_savings_pa295}}
  {{^comm_has_savings_pa295}}INCREASE {{/comm_has_savings_pa295}} 
  </strong> GHGs by <strong>{{comm_pa295_diff}}</strong> CO2-e compared to the <strong>PA 295</strong> scenario in the commercial sector.
  </p>
  <p class="no_pa295_comm_ghg">By 2035, your energy plan is estimated to <strong>
  
  {{#comm_has_savings_no_pa295}}REDUCE{{/comm_has_savings_no_pa295}}
  {{^comm_has_savings_no_pa295}}INCREASE{{/comm_has_savings_no_pa295}} 
  </strong> GHGs by <strong>{{comm_no_pa295_diff}}</strong> CO2-e compared to the <strong>No PA 295</strong> scenario in the commercial sector.
  </p>
  <p class="dbl_pa295_comm_ghg">By 2035, your energy plan is estimated to  <strong>
  
  {{#comm_has_savings_dbl_pa295}}REDUCE{{/comm_has_savings_dbl_pa295}}
  {{^comm_has_savings_dbl_pa295}}INCREASE{{/comm_has_savings_dbl_pa295}} 
  </strong>GHGs by <strong>{{comm_dbl_pa295_diff}}</strong> CO2-e compared to the <strong>Double PA 295</strong> scenario in the commercial sector.
  </p>
    <div  id="commercialGreenhouseGases" class="commercialGreenhouseGases"></div>
</div>

<div class="reportSection tableContainer">
  <h4>Residential GHG's -- CO<sub>2</sub>-e Equivalent</h4>
    <div class="chooser-div">
      <div class="sel-label">Compare your plan to scenario:</div><select class="res-chosen-ghg">
        <option class="default-chosen-selection" label="PA 295"></option>
        {{#scenarios}}
          <option value="{{.}}">{{.}}</option>
        {{/scenarios}}
      </select>
    </div>
  <p class="pa295_res_ghg">By 2035, your energy plan is estimated to<strong>
  
  {{#res_has_savings_pa295}}REDUCE{{/res_has_savings_pa295}}
  {{^res_has_savings_pa295}}INCREASE {{/res_has_savings_pa295}} 
  </strong> GHGs by <strong>{{res_pa295_diff}}</strong> CO2-e compared to the <strong>PA 295</strong> scenario in the residential sector.
  </p>
  <p class="no_pa295_res_ghg">By 2035, your energy plan is estimated to <strong>
  {{#res_has_savings_no_pa295}}REDUCE{{/res_has_savings_no_pa295}}
  {{^res_has_savings_no_pa295}}INCREASE{{/res_has_savings_no_pa295}} 
  </strong> GHGs by <strong>{{res_no_pa295_diff}}</strong> CO2-e compared to the <strong>No PA 295</strong> scenario in the residential sector.
  </p>
  <p class="dbl_pa295_res_ghg">By 2035, your energy plan is estimated to  <strong>
  
  {{#res_has_savings_dbl_pa295}}REDUCE{{/res_has_savings_dbl_pa295}}
  {{^res_has_savings_dbl_pa295}}INCREASE{{/res_has_savings_dbl_pa295}} 
  </strong>GHGs by <strong>{{res_dbl_pa295_diff}}</strong> CO2-e compared to the <strong>Double PA 295</strong> scenario in the residential sector.
  </p>

    <div id="residentialGreenhouseGases" class="residentialGreenhouseGases"></div>
</div>
<p>The reports show greenhouse gas emissions in the following scenarios:
	<p>
		<strong>NO PA 295</strong> - The result of having no Energy Efficiency Resource and Renewable Portfolio Standards. Energy consumption continues to increase with population and employment
	</p>
	<p>
		<strong>PA 295</strong> - Michigan's current Energy Efficiency and Renewable Portfolio Standards. Energy consumption is reduced, each year, by 1% of the previous year's total  consumption, and 10% of electricity demand comes from renewable energy sources
	</p>
	<p>
		<strong>PA 295 Double</strong> - The result of doubling Michigan's Energy Efficiency Resource and Renewable Portfolio Standards. Energy consumption is reduced, each year, by 2% of the previous year's total consumption, and 20% of electricity demand comes from renewable energy sources.
	</p>
</p>
