
<div class="reportSection tableContainer">
<h4>Energy Results</h4>
{{#d3IsPresent}}
  <table > 
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {{#demos}}
      <tr><td>{{NAME}}</td><td>{{VALUE}}</td></tr>
      {{/demos}}
    </tbody>
  </table>
{{/d3IsPresent}}


